<h2>Log In</h2>
 <% if flash[:notice] %>
    <div class="notice" style="font-size: 1.5em; font-weight: bold; color: red;"><%= flash[:notice] %></div>
  <% end %>
<%= form_tag sessions_create_path do  %>
	<%= label_tag :email, "Email Address" %>
	<%= text_field_tag :email, params[:email] %>
	<br />

	<%= label_tag :password, "Password" %>
	<%= password_field_tag :password %>
	<br />

	<%= submit_tag "Log In" %>
<% end %>