<section class="article">
	<h2><%= @article.title %></h2>
	<p>Written by: <em><%= User.find(@article.user_id).first_name %> <%= User.find(@article.user_id).last_name %></em></p>
	<br />
	<image src="<%= @article.main_image %>" width: '250px' />
	<p class="body"><%= @article.body %></p>
</section>
<section class="comments">
	<ul>
		<% @article.comments.each do |c| %>
			<li>
				<p>said by...<%= User.find(c.user_id).last_name %></p>
				<p><%= c.text %></p>
			</li>
		<% end %>
	</ul>

</section>
<%= form_for @comment, url: {action: 'create'} do |f| %>
	<%= f.text_field :text, placeholder: 'enter a comment' %>
	<%= f.submit %>
<% end %>