<h2>Category Homepage</h2>

<%= link_to('Post a new article', articles_new_path) %>
<br />
<ul id="categories">
	<% @categories.each do |cat| %>
		<li><%= cat.title %></li>
			<ul id="articles">
				<% cat.articles.each do |a| %>
					<li><%= link_to "#{a.title}", category_article_path(category_id: cat.id, id: a.id) %><br />
					<%= User.find(a.user_id).first_name %> <%= User.find(a.user_id).last_name %></li>
				<% end %>
			</ul>
			<br />
	<% end %>
</ul>