<!DOCTYPE html>
<html>
  <head>
    <title>Eat For Us</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
	  <div class="header-container">
	  	<figure>
		  	<%= image_tag('EFS-logo.png', class: 'header-img') %>
	  	</figure>
	  	<nav>
	  		<ul>
	  			<li><%= link_to "Home", root_path %></li>
	  			<li><%= link_to "Categories", categories_path %></li>
	  			<li><%= link_to "Market Locator", '#' %></li>
	  		</ul>
	  	</nav>
	  </div>
  </header>
  <div id="main-container">
    <%= yield %>
	</div>
  </body>
</html>
