<!DOCTYPE html>
<html>
  <head>
    <title>Eat For Us</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  	<nav>
  		<ul>
  			<%= link_to "New Article" %>
  		</ul>
  	</nav>
  </header>
    <%= yield %>
  </body>
</html>
