<!DOCTYPE html>
<html>
  <head>
    <title>Eat For Us</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  	<%= image_tag('EFS-logo.png') %>
  	<nav>
  		<ul>
  			<li><%= link_to "New Article", '#' %></li>
  			<li><%= link_to "Recipes", '#' %></li>
  			<li><%= link_to "Market Locator", '#' %></li>
  		</ul>
  	</nav>
  	<p></p>
  </header>
    <%= yield %>
  </body>
</html>
