<!DOCTYPE html>
<html>
  <head>
    <title>Eat For Us</title>
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8DMOhOTpifiFxaBs0nUb94yEWvFAj0R0"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header>
	  <div class="header-container">
	  	<figure>
		  	<%= image_tag('EFS-logo.png', class: 'header-img') %>
		  	<figcaption>a sustainable food blog</figcaption>
	  	</figure>
	  </div>
  </header>
  	<aside>
	  	<nav>
	  		<ul>
	  			<li><%= link_to "Home", root_path %></li>
	  			<% if current_user %>
		  			<li><%= link_to "Log Out", sessions_destroy_path, method: 'delete' %></li>
	  			<% else %>
		  			<li><%= link_to "Register", new_user_path %></li>
		  			<li><%= link_to "Log In", sessions_new_path %></li>
	  			<% end %>
	  			<li><%= link_to "Categories", categories_path %></li>
					<li><%= link_to "Recipes", user_recipes_path(user_id: session[:user_id	]) %></li>
	  			<li><%= link_to "Market Locator", locator_path %></li>
          <li><%= link_to "Calorie Calculator", calculator_path %></li>

	  		</ul>
	  	</nav>
  	</aside>
	<main>
	<script src='//ui.powerreviews.com/stable/4.0/ui.js'></script>
	    <%= yield %>
	</main>

	<footer>
		<p>Built using <em>Ruby on Rails 5</em></p>
	</footer>
  </body>
</html>
